name: Check branch and commit naming

on:
  push:
  pull_request:

jobs:
  check-names:
    runs-on: ubuntu-latest

    steps:
      - name: Detect branch name
        run: |
          # Для push github.ref_name, для PR - github.head_ref
          BRANCH="${{ github.head_ref || github.ref_name }}"
          echo "Branch: $BRANCH"

          # Разрешённые типы и формат:
          # type/123-short-title/Имя (Имя можно опустить)
          if echo "$BRANCH" | grep -Eq '^(feature|bugfix|docs|refactor|content|balance|ci)\/[0-9]+-[A-Za-z0-9-]+(/[A-Za-z0-9_-]+)?$'; then
            echo "✅ Название ветки в порядке"
          else
            echo "❌ Неправильное имя ветки: $BRANCH"
            echo "Ожидается формат: bugfix/125-fix-crash/Имя или feature/123-short-title/Имя"
            exit 1
          fi

      - uses: actions/checkout@v4

      - name: Check last commit message
        run: |
          LAST_MSG="$(git log -1 --pretty=%s)"
          echo "Last commit: $LAST_MSG"

          if echo "$LAST_MSG" | grep -Eq '#[0-9]+'; then
                echo "✅ Commit message OK"
              else
                echo "❌ В коммите нет номера задачи (#123)."
                echo "Пример: Updated the rules #15"
                exit 1
              fi